<button type="button" class="text-primary" data-bs-toggle="modal"
data-bs-target="#<%= comment._id %>" style="border:none ;">
<div> <i class="fas fa-reply fa-xs"></i>                                     
<span class="small"> Reply</span></div></button>

<div class="modal fade" name="commentId" id="<%= comment._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/reply" method="post">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">                                            
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Reply:</label>
          <textarea class="form-control" id="message-text"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Send reply</button>
    </form>
    </div>
  </div>
</div>                