<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <h1>Register Page</h1>
      <br />
      <form action="/create-user" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="userName" class="form-label">User name</label>
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
            />
          </div>
          <div class="mb-3">
            <label for="userImage" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              name="userImage"
              id="userImage"
            />
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
